.cmvHeatmapWidget .heatmapSizer {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top:5px;
    width: calc(100% - 20px) !important;
}

.cmvHeatmapWidget .heatmapSlider {
    margin-bottom: 20px;
    margin-left: 5px;
    margin-top: 5px;
    width: calc(100% - 10px) !important;
}