.cmvShareWidget {
    width: 100%;
    padding-bottom: 10px;
}

.floatingWidget .cmvShareWidget {
    width: 250px;
    margin: 10px;
}

.cmvShareWidget label {
    font-weight: bold;
    display: block;
}

.cmvShareWidget .icon-clear {
    clear: both;
}

.cmvShareWidget .icon-container {
    margin: 10px;
}

.cmvShareWidget .use-extent-container,
.cmvShareWidget .map-url-container,
.cmvShareWidget .embed-map-container,
.cmvShareWidget .embed-map-size-container {
    margin-bottom: 10px;
}

.cmvShareWidget .map-size-label,
.cmvShareWidget .extent-checkbox {
    float: left;
    margin-right: 5px;
}

.cmvShareWidget .esriRTL .map-size-label,
.cmvShareWidget .esrlRTL .extent-checkbox {
    float: right;
    margin-left: 5px;
}

.cmvShareWidget .map-url {
    width: 100%;
}

.cmvShareWidget .embed-map-size-dropdown {
    float: left;
}

.cmvShareWidget .esriRTL .embed-map-size-dropdown {
    float: right;
}

.cmvShareWidget .textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 5px;
}

.floatingWidget .cmvShareWidget .map-url,
.floatingWidget .cmvShareWidget .textarea {
    width: 95%;
}

.cmvShareWidget .icon {
    font-size: 32px;
    float: left;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
    color: rgba(0, 0, 0, 0.5);
}

.cmvShareWidget .icon-gplus {
    font-size: 25px;
    margin-top: 2px;
}
.cmvShareWidget .icon-link {
    font-size: 26px;
    margin-top: 2px;
}

.cmvShareWidget .icon:hover {
    color: rgba(0, 0, 0, 1);
}

.cmvShareWidget .icon:visited {
    color: rgba(0, 0, 0, 0.5);
}

.cmvShareWidget .esriRTL .icon {
    float: right;
    margin: 0 0 0 10px;
}

.cmvShareWidget .icon-twitter:before {
    content: '\f099';
}

.cmvShareWidget .icon-facebook:before {
    content: '\f082';
}

.cmvShareWidget .icon-gplus:before {
    content: '\f0d5';
}

.cmvShareWidget .icon-mail:before {
    content: '\f0e0';
}

.cmvShareWidget .icon-link:before {
    content: '\f0c1';
}