<div class="cmvDisclaimerWidget">
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="messageNode" class="disclaimerMessageContainer"></div>
    <div class="disclaimerButtonContainer dijitDialogPaneActionBar">
        <button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-check acceptDisclaimerIcon','class':'acceptDisclaimerButton'" data-dojo-attach-event="onClick:acceptDisclaimer" data-dojo-attach-point="acceptDisclaimerButtonsDijit">${i18n.accept}</button>
        <button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-ban declineDisclaimerIcon','class':'declineDisclaimerButton'" data-dojo-attach-event="onClick:declineDisclaimer" data-dojo-attach-point="declineDisclaimerButtonDijit">${i18n.decline}</button>
    </div>
</div>