.cmwWhat3WordsWidget .w3wText {
    margin-bottom: 15px;
    width:100%;
}
.cmwWhat3WordsWidget label {
    margin-left: 5px;
}

.cmwWhat3WordsWidget a .w3wLink {
    background-image: url('../images/what3words_logo.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 52px;
    margin-bottom: 15px;
    width: 100%;
}
.cmwWhat3WordsWidget .buttonContainer {
    text-align: center;
}